<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-3.1.1.min.js"></script>
</head>
<body>

    <div id="movieList">
        <a href="/admin/addMovie">新增</a>
        <table>
            <tr>
                <td>id</td>
                <td>电影名称</td>
                <td>国家</td>
                <td>观影地址</td>
                <td>操作</td>
            </tr>
            <tr th:each="movie : ${model.movieList}">
                <td th:text="${movie.id}"></td>
                <td th:text="${movie.title}"></td>
                <td th:text="${movie.country.name}">国家名称</td>
                <td th:text="${movie.videoUrl}">观影地址</td>
                <td ><a  th:href="@{/admin/detailMovie(movieId=${movie.id})}" th:text="详情"  ></a>|<a  th:href="@{/admin/deleteMovie(movieId=${movie.id})}" th:text="删除"></a>|<a th:href="@{/admin/addMovie(movieId=${movie.id})}">修改</a></td>
            </tr>
        </table>
    </div>
<script>

//    $(document).ready(function(){
//        if($("#img0").attr("src")){
//            $("#img0").removeClass("hide");
//        }
//        /*
//        * 文件预览功能
//        * */
//        $("#file0").change(function(){
//            /*
//            * 获取文件的url
//            * */
//            //  var objUrl = getObjectURL(this.files[0]) ;
//            /*
//            *上传文件到文件服务器
//            * */
//            var formData=new FormData();
//            formData.append("file",this.files[0]);
//            var objUrl =doUpload(formData);
//            if(objUrl) {
//                $("#img0").attr("src", objUrl);
//                $("#img0").removeClass("hide");
//                $("#imgUrl").val(objUrl);
//            }
//
////            console.log("objUrl = "+objUrl) ;
////            if (objUrl)
////            {
////                $("#img0").attr("src", objUrl);
////                $("#img0").removeClass("hide");
////            }
//
//        }) ;
//
//        getAddMovieContent();
//
//        $("#addActor").on("click",function () {
//
//        });
//////////////////////函数分界线/////////////////////////////////////////////////////////////////
//
//
//
//        //建立一個可存取到file的url
//        function getObjectURL(file)
//        {
//            var url = null ;
//            if (window.createObjectURL!=undefined)
//            { // basic
//                url = window.createObjectURL(file) ;
//            }
//            else if (window.URL!=undefined)
//            {
//                // mozilla(firefox)
//                url = window.URL.createObjectURL(file) ;
//            }
//            else if (window.webkitURL!=undefined) {
//                // webkit or chrome
//                url = window.webkitURL.createObjectURL(file) ;
//            }
//            return url ;
//        }
//        //上传文件到文件服务器
//        function doUpload(formData){
//            var  avatarUrl;
//            $.ajax({
//                url: 'http://localhost:8081/upload',
//                type: 'POST',
//                cache: false,
//                data: formData,
//                async:false,
//                processData: false,
//                contentType: false,
//                success: function (data) {
//                    avatarUrl = data;
//                    // 保存头像更改到数据库
////                    alert(avatarUrl)
//                },
//                error: function () {
//                    alert("文件上传出错");
//                }
//            });
//            return avatarUrl;
//        }
//        ///////////////////////////////////////////////////////////
//
//    });








</script>
</body>
</html>